{% extends 'base.html.twig' %}

{% block body_content %}
    <div class="overflow-x-hidden overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex  flex-col p-[20px] gap-[20px] rounded-[40px] shadows justify-start">
        {% for corso in app.user.studente.corsi | sort((a, b) => b.annoSvolgimento <=> a.annoSvolgimento) | sort((a, b) => a.isCompletato <=> b.isCompletato) %}
            <div class="flex items-center justify-between px-[30px] py-[20px] border-2 br-bg rounded-[30px]"> <!-- Item Corsi -->
                <div class="flex items-center gap-5">
                    <p class="heading-1">‍💻</p>
                    <div>
                        <h2 class="heading-2 text-blackk">{{ corso.nome | title }}</h2>
                        <p class="p text-grayy">{{ corso.docente | title }} - {{ corso.annoSvolgimento }}° Anno</p>
                    </div>
                </div>
                {% if corso.isCompletato %}
                    <img src="{{asset("icons/ok-circle.svg")}}" alt="icona">
                {% else %}
                    // TODO: Mettere icon non completato
                {% endif%}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}