{% extends 'base.html.twig' %}

{% block tool_bar %}
{% endblock %}

{% block body_content %}
	<div class="overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex flex-col p-[20px] gap-[20px] rounded-[40px] shadows justify-start">

		<div class="border-2 br-bg p-[10px] rounded-[30px] h-[300px]">
			{{ render_chart(chart) }}
		</div>
		<p class="p text-grayy">Ultimi Voti</p>

		<div class="flex gap-7 scrollbar-none flex-wrap overflow-scroll">
			{% for esame in app.user.studente.esami %}
				{% if esame.isAccettato %}
					<div class="p-10 cursor-pointer bg-secondary w-[120px] h-[120px] aspect-square rounded-full flex justify-center items-center">
						<p class="heading-1 text-whitee font-bold ">{{ esame.voto == 'IDO' ? 'I' : esame.voto }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>

{% endblock %}