{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) %}

{% block esse3 %}

	<div  class=" backdrop-blur-md  absolute w-full top-0 left-0 h-full flex flex-col transition-all justify-center items-center bg-[#18196386]">

		<form class="flex  rounded-[20px] overflow-clip  w-[auto] h-auto ">

			<img class="w-[300px] p-10 aspect-square bg-[#e2001a]" src="https://unicam.idp.cineca.it/images/logo.svg" alt="unicamEsse3">

			<div class=" flex flex-col p-10 bg-whitee">
				<label class="p text-blackk mb-2" for="username">Nome utente</label>
				<input class="mb-5 p text-grayy p-5 rounded-[10px] outline-1 focus:outline-3 outline-[#e2001a]" type="text" id="username" name="_username" value="" required/>

				<label class="p text-blackk mb-2" for="password">Password</label>
				<input class="mb-5 p text-grayy p-5 rounded-[10px] outline-1 focus:outline-3 outline-[#e2001a]" type="password" id="password" name="_password" required/>

				<button class="p text-blackk bg-[#e2001a] text-whitee rounded-[10px] p-3 cursor-pointer hover:brightness-110 transition-all duration-500 font-bold" type="submit">Sincronizza</button>

			</div>

		</form>

		<a class="esse3Button p text-whitee font-bold mt-5 text-center cursor-pointer  hover:brightness-75 ">Indietro</a>

	</div>


{% endblock %}
