{% extends 'base.html.twig' %}


{% block body_content %}
	<div class="flex-col overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex p-[20px] gap-[20px] rounded-[40px] shadows justify-start">


		<div
			class="flex flex-col gap-4">
			<!-- Sezione -->
			<p class="p text-grayy">Da Fare</p>
			<div
				class="flex gap-4 w-full  overflow-x-scroll scrollbar-none">
				<!-- Parent Task -->

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk">finire Progetto</h2>
					<div
						class="flex flex-col gap-4">
						<!-- Tasks Container -->
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">adora
							</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square focus:bg-primary"></div>
							<p class="p text-blackk">i cazzoni</p>
						</span>
					</div>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk">Urlo del sium</h2>
					<div
						class="flex flex-col gap-4">
						<!-- Tasks Container -->
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square focus:bg-primary"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi Enormi</p>
						</span>
					</div>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk">Mi piace la banana gialla</h2>
					<div
						class="flex flex-col gap-4">
						<!-- Tasks Container -->
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square focus:bg-primary"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi Enormi</p>
						</span>
					</div>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk">Sono con i miei Homies</h2>
					<div
						class="flex flex-col gap-4">
						<!-- Tasks Container -->
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square focus:bg-primary"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi Enormi</p>
						</span>
					</div>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk">Sono con i miei Homies</h2>
					<div
						class="flex flex-col gap-4">
						<!-- Tasks Container -->
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi</p>
						</span>
						<span
							class="flex items-center gap-4">
							<!-- Task -->
							<div class="rounded-full bg-bg h-6 cursor-pointer aspect-square focus:bg-primary"></div>
							<p class="p text-blackk">Maxime adora i cazzi neri Grossi Enormi</p>
						</span>
					</div>
				</div>

			</div>

		</div>

		<div
			class="flex flex-col gap-4">
			<!-- Sezione -->
			<p class="p text-grayy">Fatto</p>
			<div
				class="flex gap-4 w-full  flex-wrap">
				<!-- Parent Task -->

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>

				<div
					class="border-2 br-bg flex flex-col p-[20px] rounded-[30px] gap-4 shrink-0">
					<!-- Task Card -->
					<h2 class="heading-2  text-blackk line-through">finire Progetto</h2>
				</div>


			</div>

		</div>


	</div>
{% endblock %}
